@font-face {
  font-family: "Josefin Sans";
  src: url(../fonts/JosefinSans-Regular.woff2),
    url(../fonts/JosefinSans-Regular.woff);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cormorant Infant";
  src: url(../fonts/CormorantInfant-Regular.woff2),
    url(../fonts/CormorantInfant-Regular.woff);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cormorant Infant Bold";
  src: url(../fonts/CormorantInfant-Bold.woff2),
    url(../fonts/CormorantInfant-Bold.woff);
  font-style: normal;
  font-weight: 700;
}

:root {
  --font-family: "Josefin Sans";
  --second-family: "Cormorant Infant";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  font-family: var(--font-family);
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: #292e36;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.header__top::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: calc(-50vw + 50%);
  width: 99vw;
  border-bottom: 1px solid #5c6168;
}

.phone-btn,
.reservation-btn {
  border: 2px solid #e1b168;
  padding: 20px 50px;
  color: #fff;
  text-align: center;
  font-size: 22px;
}

.phone-btn:hover {
  background-color: #e1b168;
  cursor: pointer;
}

.reservation-btn {
  color: #292e36;
  background-color: #e1b168;
}

.reservation-btn:hover {
  cursor: pointer;
}

.header__bottom {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__list {
  padding: 20px 0 26px 0;
}

.menu__list+.menu__list {
  padding-left: 60px;
}

.menu__list-link:hover {
  color: #e1b168;
}

.header__logo {
  display: flex;
  justify-content: space-between;
}

.header__logo-list+.header__logo-list {
  margin-left: 20px;
}

.header__icon-instagram:hover path,
.header__icon-facebook:hover path,
.header__icon-twitter:hover path,
.header__icon-pinterest:hover path {
  fill: #e1b168;
}

.section-greetings {
  background-color: #292E36;
  margin-bottom: 105px;
}

.greetings__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greetings__text {
  color: #fff;
}

.greetings__text-title {
  font-family: var(--second-family);
  font-size: 100px;
}

.greetings__text-subtext {
  font-size: 20px;
  letter-spacing: 0.16px;
  line-height: 150%;
  margin-bottom: 35px;
}

.greetings__text-btn {
  padding: 20px 57px;
  border: 2px solid #e1b168;
  color: #e1b168;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.16px;
}

.greetings__picture {
  max-width: 655px;
  object-fit: contain;
}

.section__info {
  margin-bottom: 65px;
}

.section__info-inner {
  display: flex;
  justify-content: space-around;
}

.section__info-item {
  display: flex;
  align-items: center;
  max-width: 445px;
}

.section__info-text {
  margin-left: 20px;
}

.section__info-title {
  font-family: var(--second-family);
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 130%;
  color: #292e36;
}

.section__info-subtext {
  line-height: 150%;
  color: #555;
}